html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

body > .container {
  padding: 60px 15px 0;
}

.find-res {
  margin-top: 4px;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.find-res-img {
  width: 200px;
}

.find-res-title {
  text-decoration: underline;
  font-weight: bold;
}